body{
    margin:0 auto;
    padding:10px;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 302px;
}

label{
    color:darkcyan;
    font-weight: bold;
}

input{
    width:100%;
    padding:10px;
    box-sizing: border-box;
    border: 1px solid darkcyan;
    margin-bottom: 4px;
}

button{
    padding:10px 20px;
    background-color: darkcyan;
    color: white;
    border: none;
    cursor: pointer;
    font-weight: bold;
    border: 1px solid darkcyan;
}

#delete-btn{
    background: white;
    color:darkcyan;
    border: 1px solid darkcyan;
    margin-left: 5px;
}

ul{
    margin-top: 20px;
    list-style-type: none;
    padding-left: 0;
}

li{
    margin-top: 5px;
}

li a{
    
    color: darkcyan;
    transition: color 0.3s ease-in-out;
    font-size: large;
}